<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802346306416-mjd7fqr9oo86e547kbnm7hbjuek49es9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802346306416-mjd7fqr9oo86e547kbnm7hbjuek49es9</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyEgFmMuJrbZlAupCewMcSI7jAj4osL0</string>
	<key>GCM_SENDER_ID</key>
	<string>802346306416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuyouuser</string>
	<key>PROJECT_ID</key>
	<string>nuyou-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nuyou-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802346306416:ios:c5c5c759d3557dfd259db5</string>
</dict>
</plist>