<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SaloonApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>

  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Nuyou requires access to Bluetooth</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Nuyou requires access to Bluetooth devices</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Nuyou would like to access your calender</string>
  <key>NSCameraUsageDescription</key>
  <string>Nuyou requires to access your photo library to show image on profile</string>
  <key>NSContactsUsageDescription</key>
  <string>Nuyou requires to access your contacts to share promotions</string>
  <key>NSFaceIDUsageDescription</key>
  <string>Nuyou requires access Face ID</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>Your Location is used to to show your nearby Salons</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Your Location is used to to show your nearby Salons</string>
  <key>NSLocationTemporaryUsageDescriptionDictionary</key>
  <dict>
    <key>Personalization</key>
    <string>Your Location is used to to show your nearby Salons</string>
  </dict>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Your Location is used to to show your nearby Salons</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Nuyou requires to access your photo library to show image on profile</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>Nuyou requires to access your photo library to show image on profile</string>
  <key>NSRemindersUsageDescription</key>
  <string>Nuyou requires access Reminders</string>
  <key>NSUserTrackingUsageDescription</key>
  <string>Nuyou requires access usage tracking</string>
  <key>NSMicrophoneUsageDescription</key>
  	<string>Nuyou requires microphone access</string>
	<key>NSAppleMusicUsageDescription</key>
  	<string>Nuyou requires Apple Music access</string>
	<key>NSMotionUsageDescription</key>
  	<string>Nuyou requires access your motion use</string>
	<key>NSSpeechRecognitionUsageDescription</key>
 	 <string>Nuyou requires access recognize speech</string>
  	<key>NSSiriUsageDescription</key>
  	<string>Nuyou requires Siri access</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
 	 <string>Nuyou requires Bluetooth access</string>
	<key>UIAppFonts</key>
	<array>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
